*{
    font-size: 1rem;
    background-color: black;
    color: white;
    
}
.prakash{
   
}
ol{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1em;
    width: 100%;
}
a{
    text-decoration: none;
}